body {
  background-color: #222;
  margin:0;
}

#gameCanvasWrap {
  float: left;
  /*background-image: url(img/Backgrounds/farback.gif);*/
  /*background-repeat: repeat;*/
}

#gameSidebar {
  width: 200px;
  background-color: #999;
  float: left;
}

